/* To adjust the marging of page heading */
.page-content {
  margin-top: 85px; /* Adjust the margin-top as needed */
}

.app {
  background-color: gray;
}
html {
  background-color: gray;
}

/* To style the error messages */
.error { 
  color: red;
}